a {
  text-decoration: none;
}

.container{
  max-width: 600px;
}

.v-list {
  padding: 0;
}

.v-input {
  height: 44px;
  position: relative;
}

.v-text-field__details{
  position: absolute;
  top: calc(100% + 2px);
}